<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <p style="border: 1px solid gray; height: 30px;">
                {% if app.user %}
                    {{ 'label.username'|trans }}: {{ app.user.username }}
                {% else %}
                    <a href="{{ path('login') }}">Login</a>
                {% endif %}
            </p>
            <p>
                {% if app.user %}
                <a href="{{ path('logout') }}">Logout</a>
                {% endif %}
            </p>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        <script src="/js/main.js"></script>
        </div>
    </body>
</html>
